<div class="card-container d-flex justify-content-center align-content-center col-12 col-sm-6 col-md-4 col-lg-3">
  <div class="card-img d-flex">
    <img src="assets/images/avatar.png" alt="">
  </div>
  <div class="card-detail d-flex align-content-center flex-column pt-2">
    <p class="card-text"><span class="cart-text__title">First name:</span> {{ user.firstName }} </p>
    <p class="card-text"><span class="cart-text__title">Last name:</span> {{ user.lastName }}</p>
    <p class="card-text"><span class="cart-text__title">Company:</span> {{ user.company }}</p>
    <p class="card-text"><span class="cart-text__title">Email address:</span> {{ user.email }}</p>
    <p class="card-text"><span class="cart-text__title">Status:</span>
      <span class="text-active">Active</span>
    </p>
  </div>
</div>
