<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 border-bottom">
  <a href="/" class="d-flex align-items-center mb-lg-0">
    <div class="logo">
      <div class="logo-img m-sm-2">
        <!--  Logo Svg      -->
        <img src="./assets/images/logo.svg" alt="">
      </div>
    </div>
  </a>

  <div class="nav-container">
    <div class="nav-item">
      <i class="material-icons">apps</i>
    </div>
    <div class="nav-item">
      <i class="material-icons">notifications</i>
    </div>
    <div class="nav-item">
      <i class="material-icons">account_circle</i>
    </div>
  </div>
</header>
