header {
  height: 56px;
  opacity: 1;
  position: relative;
}

.logo-img {
  width: 120px;
  height: 32px;
}
.nav-container{
  display: flex;
  margin-right: 24px;
  height: 40px;
}

.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
.nav-item:hover{
  background: #4B70C024 0% 0% no-repeat padding-box;
}
.img-icon{
  width: 16px;
  height: 16px;
}

.material-icons{
  color: #00458F;
}
